footer {
  background-color: var(--text-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1264px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0 0 10px;
  font-size: var(--body-font-size-s);
  color: var(--light-color, #ebebeb);
  font-family: var(--body-font-family);
}

footer .footer p a {
  font-size: var(--body-font-size-s);
  color: var(--light-color, #ebebeb);
  font-family: var(--body-font-family);
  text-decoration: underline;
}

footer .footer p a .icon-facebook,
footer .footer p a .icon-twitter,
footer .footer p a .icon-instagram{
  padding: 10px;
  background-color: var(--light-color, #ebebeb);
}

footer .footer .footer-logo-img {
  width: 128px;
  height: auto;
}

footer .footer .section.footer-nav-sections ul {
  display: flex;
  gap:10px;
  margin-left: 135px;
  list-style: none;
  margin-top: -46px;
    margin-bottom: 60px;
}

footer .footer .section.footer-nav-sections ul > li {
  margin: 10px 0;
  font-size: var(--nav-font-size-s);
}

footer .footer .section.footer-nav-sections ul > li > a {
  color: var(--light-color, #ebebeb);
  padding: 15px 17px;
}

footer .footer .section.footer-nav-sections ul > li > a:hover {
  text-decoration: underline;
  padding: 15px 17px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 10px;
  }
}

footer .footer p.followus{
  position: absolute;
    right: 65px;
    bottom: 55px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}

footer .footer p strong{
  margin-right: 15px;
}

footer .footer .default-content-wrapper{
  position: relative;
}